.hero_content {
	background: url(../assets/hero_flower_background.jpg) no-repeat;
	background-position: center;
	min-height: 65vh;
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hero_span {
	color: rgb(252, 157, 173);
	font-weight: bolder;
}

.hero_text {
	max-width: 35%;
	min-width: 25%;
	padding-left: 3%;
}

.hero_button {
	margin-left: 9.5%;
	background-color: #fbfbfb;
	color: #4f4f4f;
	box-shadow: 0 4px 9px -4px #fbfbfb;
	text-transform: uppercase;
	vertical-align: bottom;
	border: 0;
	font-weight: 500;
	padding: 0.625rem 1.5rem 0.5rem 1.5rem;
	font-size: 0.75rem;
	line-height: 1.5;
	border-radius: 5rem;
}

@media (max-width: 768px) {
	.hero_content {
		max-width: 780px;
		max-height: 580px;
	}
}

@media (min-width: 769px) {
	.hero_content {
		background-size: cover;
	}
}
